In [10]:
import pandas as pd
import numpy as np
data = pd.read_excel("/Users/annette/Downloads/all_tasks_feb_10.xlsx")

In [11]:
data

,Id,Project,Groups,Title,Description,Type,Substory,Parent Id,Start,Due,...,Invoiced Balance,Levels Below,Checklist,Relative_Start_Date,Relative_Due_Date,1. Acceptance Requested,2. Acceptance Confirmed,3. Initial Acceptance Declined,4. Flexible dates (start & end),5. Original Deliverable Budget
0,144881677,Robin Hood Foundation - SOW-8 - Fundraising En...,"Client, General Contract, Robin Hood Foundation",Opportunity Contact Role Documentation,NaN,deliverable,True,144882207.0,2016-07-07,2019-03-21,...,0,1,NaN,115.0,1102.0,NaT,NaT,NaN,NaN,NaN
1,144881687,Robin Hood Foundation - SOW-8 - Fundraising En...,"Client, General Contract, Robin Hood Foundation",Contact Role/Annual Summary Visuals v1,NaN,task,True,144881677.0,2017-04-18,2017-04-18,...,0,2,NaN,400.0,400.0,NaT,NaT,NaN,NaN,NaN
2,144881707,Robin Hood Foundation - SOW-8 - Fundraising En...,"Client, General Contract, Robin Hood Foundation",Highest Level Giving Report Development,Reports:\nâ€œAnnual Giving by Household Account ...,task,True,144881677.0,2016-09-12,2016-09-20,...,0,2,NaN,182.0,190.0,NaT,NaT,NaN,NaN,NaN
3,144882207,Robin Hood Foundation - SOW-8 - Fundraising En...,"Client, General Contract, Robin Hood Foundation",Contract Section - Opportunity Contact Roles,NaN,task,False,NaN,2016-07-07,2019-04-10,...,0,0,NaN,115.0,1122.0,NaT,NaT,NaN,NaN,NaN
4,144883157,Robin Hood Foundation - SOW-8 - Fundraising En...,"Client, General Contract, Robin Hood Foundation",Contract Section - Annual Summaries,NaN,task,False,NaN,2017-10-30,2017-11-08,...,0,0,NaN,595.0,604.0,NaT,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9535,516287515,Higher Achievement - SOW-4 - 12-months of Support,"Client, Higher Achievement, Support Contract",Reporting snapshots,NaN,task,True,514191175.0,NaT,NaT,...,0,2,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
9536,516540845,Yurgosky {Quota} - Classes - Version 1.0 and A...,NaN,change name of administration tab,to class manager/ class admin?,issue,True,507561525.0,NaT,NaT,...,0,1,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
9537,516542665,Yurgosky {Quota} - Classes - Version 1.0 and A...,NaN,time slider + time entry option?,NaN,issue,True,438438125.0,NaT,NaT,...,0,3,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
9538,516545825,Whittle School - SOW-1 - Creating a Foundation...,"Client, General Contract, Whittle School",SZ Team Lite-admin training,NaN,task,True,462834105.0,2020-02-13,2020-02-13,...,0,3,NaN,248.0,248.0,NaT,NaT,NaN,NaN,NaN
9539,516547815,Higher Achievement - SOW-4 - 12-months of Support,"Client, Higher Achievement, Support Contract",Rosters when scholars/mentors switch centers,NaN,task,True,514191175.0,NaT,NaT,...,0,2,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

In [12]:
pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in ./opt/anaconda3/lib/python3.7/site-packages (1.3.9)
Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.